/* styles.css */  

/* Styles pour la table MATRICE */  
.matrice-result {  
    background-color: #007bff; /* Un fond léger */  
    border: 1px solid #007bff;  
}  

.matrice-result table {  
    border-color: #007bff; /* Couleur de la bordure spécifique au tableau MATRICE */  
}  

/* Styles pour l'entretien curatif */  
.entretien-result {  
    background-color: #007bff; /* Un différent fond */  
    border: 1px solid #007bff;  
}  

.entretien-result table {  
    border-color: #007bff;  
}  

/* Styles pour l'entretien préventif */  
.vidange-result {  
    background-color: #007bff; /* Un autre fond */  
    border: 1px solid #007bff;  
}  

.vidange-result table {  
    border-color: #007bff;  
}  

/* En-têtes de tableaux */  
.matrice-result table th {  
    background-color: #007bff; /* Couleur différente pour les en-têtes */  
}  

.entretien-result table th {  
    background-color: #007bff;  
}  

.vidange-result table th {  
    background-color: #007bff;  
}